// colors
$base-color:#013056;


$middle-color:lighten($base-color,16%);
$l-middle-color:lighten($base-color,29%);
$light-color:lighten($base-color,68%);

// fonts

$p-font: 'Arial Narrow';
$font-r: 'RobotoR';