.top-header {
    background: #013856 url(../../../img/Bg1-1.svg) no-repeat center;
    background-size: cover; 
    padding-top: 15px;
    padding-bottom: 15px;
}
.top-header p {
    font-family: "Roboto-Thin";
    font-size: 18px;
    color: #caddea;
    margin-bottom: 0;
    padding-right: 35px;
    line-height: 1.75;
}

.top-header p:first-of-type {
    margin-right: 10px;
}

.top_header_span {
    font-family: "Roboto-Regular";
}
.sm_width {
    width: 100%;
}
.top-header .icon .icon_header:first-child::after {
    margin-left: 12px;
}
.top-header .icon .icon_header:last-child::after {
    margin-left: 12px;
}